#container {
    height: 750px;
    border-bottom: 1px solid grey;
}

.echoMenu {
    float: left;
    margin-top: 10px;
    a {
        color: grey;
        font-size: 10px;
    }
    .subMenuLink {
        color: #2196f3;
        font-size: 12px;
        &:hover {
            color: #90caf9;
        }
        &.selected {
            color: #0d47a1;
        }
        &.now {
            color: #e57373;
        }
    }
}

.echoContent {
    left: auto;
    right: 0;
    position: absolute;
    margin-top: 20px;
    height: 700px;
    object {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: auto;
    }
}

.youVideo {
    background-color: #e1f5fe;
    padding-bottom: 10px !important;
    width: 500px !important;
    margin-right: 10px;
    margin-top: 10px;
    h6 {
        color: #00b0ff;
        font-size: 12px;
    }
    p {
        color: #40c4ff;
        font-size: 11px;
    }
}

#menuSubContainerList {
    span {
        color: #2196f3;
        font-size: 12px;
        cursor: pointer;
        &:hover {
            color: #90caf9;
        }
        &.selected {
            color: #0d47a1;
        }
        &.now {
            color: #e57373;
        }
    }
}
